/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (16x16)
        app/assets/images/sprites/social-share-button/delicious.png (16x16)
        app/assets/images/sprites/social-share-button/douban.png (16x16)
        app/assets/images/sprites/social-share-button/email.png (16x16)
        app/assets/images/sprites/social-share-button/facebook.png (16x16)
        app/assets/images/sprites/social-share-button/flickr.png (16x16)
        app/assets/images/sprites/social-share-button/google_bookmark.png (16x16)
        app/assets/images/sprites/social-share-button/google_plus.png (16x16)
        app/assets/images/sprites/social-share-button/kaixin001.png (16x16)
        app/assets/images/sprites/social-share-button/pinterest.png (16x16)
        app/assets/images/sprites/social-share-button/plurk.png (16x16)
        app/assets/images/sprites/social-share-button/qq.png (16x16)
        app/assets/images/sprites/social-share-button/renren.png (16x16)
        app/assets/images/sprites/social-share-button/tqq.png (16x16)
        app/assets/images/sprites/social-share-button/tumblr.png (16x16)
        app/assets/images/sprites/social-share-button/twitter.png (16x16)
        app/assets/images/sprites/social-share-button/weibo.png (16x16)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          80x64

*/
@font-face {font-family: "generial-iconfont";
  src: font-url('fonts/iconfont.eot'); /* IE9*/
  src: font-url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  font-url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  font-url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.generial-iconfont {
  font-family: "generial-iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
